<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show chat</title>
</head>

<body>
    <ul>
        <li>
            <%= user.from %>
        </li>
        <li>
            <%= user.to %>
        </li>
        <li>
            <%= user.msg %>
        </li>
        <li>
            <%= user.created_at %>
        </li>
    </ul>
</body>

</html>