<%- layout("./layouts/boilerplate") %>
    <div class="h-screen flex justify-center items-center flex-col">
        <div class="p-2 flex justify-center items-center flex-col">
            <p>

                <%= err.message %>
            </p>

        </div>
    </div>