<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderLust</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.6.0/mapbox-gl.js"></script>
    <script src="/js/navbtn.js" defer></script>
    <script src="/js/alert.js" defer></script>
    <script src="/js/taxtoggle.js" defer></script>

</head>

<body class="min-h-screen relative flex flex-col w-full bg-white">
    <%- include("../includes/navbar.ejs") %>
        <div class=" flex-1">
            <%- include("../includes/alert.ejs") %>
                <%- body %>
        </div>
        <%- include("../includes/footer.ejs") %>
</body>

</html>